/* Position and Layout Static Relative Fixed Absolute Sticky */
body, ul, li, h1, h2{           /* a simple .CSS reset */
    margin: 0;
    padding: 0;
    font-family: arial;
}        
header{
  background-color: #c92d2d;  
  padding: 10px;
  text-align: center; 
  position: fixed;  
  width: 100%;
  z-index: 1;
  top: 0px;
  left: 0px;
}
header h1{
    color: white;
    border: 6px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 30px;
}
.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
}
.banner .welcome{
    background-color: #ffc100;
    color: linen;
    padding: 25px;
    position: absolute;
    left: 0px;
    top: 30%;
}
.banner h2{
    font-size: 64px;
}
.banner h2 span{
    font-size: 1.3em;
}
nav{
    background-color: lightgrey;
    padding: 20px;
    position: sticky;
    top: 80px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}
nav li a{
    color: lightslategrey;
    text-decoration: none;
}
nav li a.join{
    color: #c92d2d;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2{
    color: #c92d2d;
    font-size: 48px;
}
article p{
    line-height: 2em;
    color: #4b4b4b;
}
.images{
    text-align: center;
    margin: 80px 0;  
    white-space: nowrap;  
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.images li img{
    max-width: 100%;
}
section.join{
    background: #F4F4F4;
    text-align: center;
    padding: 10px 20px;
    color: #4b4b4b;
}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 36px;
    border: 4px solid white;
}
footer p{
    background:  #F63262;
    color: white;
    padding: 10px;
    text-align: center;
}
/* pseudo classes - hover, focus and first child */
nav li a:hover{
    text-decoration: underline;
    background-color:  #c92d2d;
    padding: 3px;
}
nav li a.join:hover{
    color: ivory;
}
.images li:hover{
    position: relative;
    top: -4px;
}
form input:focus{
    border: 4px dashed #4b4b4b;
    /* outline: none; */
}
form input:valid{
    border: 4px solid #71d300;
}
/* nav li:first-child{              just an example
    border: 3px solid #c92d2d;
} */

/* pseudo elements  */
article p::first-line{
    font-weight: bold;
    font-size: 1.2em;
}
section.join p::first-letter{
    font-size: 1.5em;
}
/* section.join */ p::selection{        /*now applies to all p */
    background-color: #c92d2d;
    color: #F4F4F4;
}
h2::selection{                          /*but not span */
    background-color: #c92d2d;
    color: #F4F4F4;
}
p::after{
    content: ' more...';
}

/* media queries and responsive design */
/* moto e6plus screen 720x1560  px */
/* use under 850px and under 450px */

@media screen and (max-width: 1300px){
    .banner h2{
       font-size: 54px;
    } 
    nav li{
        font-size: 18px;
    } 
}
@media screen and (max-width: 900px){
    .banner .welcome h2{
       font-size: 40px;
    } 
}
@media screen and (max-width: 700px){
    .banner .welcome{
        position: relative;
        text-align: center;
        padding: 5px;
    }
    .banner .welcome br{
        display: none;
    }
    .banner .welcome h2{
        font-size: 28px;
    }
    .banner .welcome span{
        font-size: 1em;
    }
    .images li{
        display: block;
        width: 100%;
        margin: 20px auto;
    }
}
@media screen and (max-width: 560px){
    nav li{
        width: 100%;
        margin: 12px 0;
        display: block;
        font-size: 26px;
        position: relative;
    } 
    header{
        position: relative;
    }
    nav{
        top: 0;
    }
}